<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title
      size="large" class="ion-text-center"> Receitas à Viana
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="background">
  <ion-card>
    <ion-row class= "ion-align-items-center ion-justify-content-center">
        <img alt="bacalhau" src = "./assets/images/Bacalhau.jpg"> 
    </ion-row>
  </ion-card>
  
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title
      size="large" class="ion-text-center"> Receitas à Viana
    </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card class="ion-padding" color="titulos">
    <ion-card-header>
      <ion-card-title>Ingredientes</ion-card-title>
    </ion-card-header>

   

    <ion-card-content>
      <p>1- 900g de bacalhau demolhado;
      <p>2- 8 colheres de sopa de azeite;
      <p>3- 900g de batatas;</p>
      <p>4- 200g de cebola;
      <p>5- 3 dentes de alho;</p>
      <p>6- Sal a gosto;</p>
      <p>7- 600g de brócolos; </p>
      <p>8- 12 azeitonas;</p>
      <p>9- Salsa a gosto;</p>
    </ion-card-content>
  </ion-card>

  <ion-card class="ion-padding" color ="titulos ">
    <ion-card-header>
      <ion-card-title>Modo de Preparação</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>1º Coloque os lombos de bacalhau num tacho e deite por cima água a ferver. Deixe de molho uns momentos apenas, para ajudar a abrir lascas. Escorra imediatamente e enxugue num pano.
      <p>2º Aqueça uma colher de sopa de azeite num grelhador e coloque o bacalhau por cima. Deixe cozinhar durante cerca de 15 a 20 minutos. Este processo também pode ser feito nas brasas.
      <p>3º Enquanto o bacalhau assa, deite o restante azeite num tacho, junte as cebolas e dois dentes de alho descascados e cortados em fatias e deixe cozinhar tapado em lume brando para que a cebola não aloure e fique apenas “estalada”.
      <p>4º Coza as batatas em água temperada com uma colher de chá de sal. Deixe cozer por cerca de 15 minutos ou até estarem tenras. </p>
      <p>5º Noutra panela, coza os brócolos em água a ferver temperada com o restante sal. </p>
      <p>6º Quando o bacalhau estiver assado, coloque na travessa ou num prato de barro regional e deite sobre ele a cebolada e o respetivo azeite. Em redor disponha as batatas cozidas, partidas em rodelas e os brócolos.</p>
      <p>7º Coloque por cima as azeitonas e polvilhe com salsa picada.</p>
    </ion-card-content>
  </ion-card>
</ion-content>
