<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title
      size="large" class="ion-text-center"> Receitas à Viana
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="brackground">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title
      size="large" class="ion-text-center"> Receitas à Viana
    </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-card class="ion-padding"  color ="background">

    <ion-card >
      <ion-row class= "ion-align-items-center ion-justify-content-center">
        
          <img alt="Torta de Viana" src = "./assets/images/tortaViana.jpg "> 
       
      </ion-row>
    </ion-card>
    
  <ion-card color="titulos">
    <ion-card-header>
      <ion-card-title>Ingredientes</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>   Para a massa</p>
      <p>1- 7.5g de fermento;
      <p>2- 150g de açucar;
      <p>3- 180g de farinha de trigo;
      <p>4- 9 ovos;</p>
      <br>
      <p>   Para o recheio</p>
      <p>1- 10g de amido de milho</p>
      <p>2- 75g de açúcar</p>
      <p>3- 70ml de água</p>
      <p>4- 8 gemas</p>
    </ion-card-content>

  </ion-card>
  
  <ion-card color="titulos">
    <ion-card-header>
      <ion-card-title>Modo de Preparação</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>Para a massa:</p>
      <p>1º Bater os obos e adicionar o açucar aos poucos até ficar um creme volumoso e esbranquiçado;
      <p>2º Acrescentar a farinha e o fermento, envolvendo bem;
      <p>3º Estender num tabuleiro, previamente untado e enfarinhado, levar ao forno, pré-aquecido a 185ºC entre 20 e 25 minutos;
      <br>
      <br>
      <p>Para o recheio: </p>
      <p>1º Misturar o açucar com o amido de milho, acrescentar a água e as gemas e envolver;</p>
      <p>2º Levar ao lume até engrossar; </p>
      <p>3ºColocar numa tigela a arrefecer;</p>
      <p>4ºColocar a massa sobre um pano de cozinha e espalhar o recheio por cima e enrolar a massa.</p>
      </ion-card-content>
  </ion-card>
  </ion-card>
</ion-content>