<ion-header [translucent]="true" color="titulos">
  <ion-toolbar>
    <ion-title 
      size="large" class="ion-text-center"> Receitas à Viana
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="background"> 
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title
      size="large" class="ion-text-center"> Receitas à Viana
    </ion-title>>
    </ion-toolbar>
  </ion-header>




  <ion-card class="ion-padding" color="titulos">
    <ion-card-header>
      <ion-card-title color="light" >Breve Apresentação</ion-card-title>
    </ion-card-header>

    <ion-card color="background">
      <ion-card-content >
        <p>Bem-vindo à minha aplicação "Receitas à Viana"! 
          <p>O meu nome é Jorge Barbosa, aluno nº28910 da Escola Superior de Tecnologias e Gestão do Instituto Politécnico de Viana do Castelo.
          <p>Aqui vai descobrir os sabores autênticos da culinária tradicional de Viana do Castelo, uma região rica e conhecida pela sua tradição e gastronomia.</p>
          <p>Prepare-se para uma jornada de sabores, aromas e tradições que vão encantar seu paladar e aquecer seu coração. Comece a explorar e descobrir os segredos culinários de Viana!</p> 
      
      </ion-card-content>
    </ion-card>

    <ion-card color="background" >
      <ion-card-header>Contextualização Histórica</ion-card-header>
      <ion-card-content>
        <p> Cidade milenar com uma rica história e cultura, também se destaca pela sua gastronomia única. A culinária local é fruto de diversas influências, desde a sua localização costeira até a herança rural do Minho.</p>
        <p>Influências:</p>
        <p>Mar: A pesca sempre teve um papel fundamental na economia local. Peixes frescos, como bacalhau, sardinhas e salmão, são ingredientes básicos da culinária vianense.</p>
        <p>Terra: A região do Minho é conhecida pela sua produção de carne de porco, legumes e verduras frescas. Estes ingredientes são utilizados em diversos pratos tradicionais, como os rojões à moda do Minho.</p>
        <p>Outras culturas: A proximidade da Galiza e da Espanha também influenciou a culinária vianense. Pratos como a torta de Viana e o bacalhau sao exemplos dessa influência.</p>
      </ion-card-content>
    </ion-card>
  </ion-card>
</ion-content>
