<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title size="large" class="ion-text-center">Receitas à Viana</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="background">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" class="ion-text-center">Receitas à Viana</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-card color="titulos">
  
    <ion-card-header>
      <ion-card-title>Curiosidades</ion-card-title>
    </ion-card-header>

  <ion-card color="background">
    <ion-card-content>
      <ion-card-header>
      <p>Sabia que...</p>
    </ion-card-header>
      <p>1º- Viana do Castelo não é só beleza monumental e paisagens verdejantes, mas também um paraíso para os amantes da gastronomia? A cidade oferece uma variedade de pratos delicioso
        s, com destaque para o bacalhau, fiel amigo dos vianenses.
      <p>2º- A ligação de Viana do Castelo ao bacalhau vem de longa data. Os bacalhoeiros da região partiam para a Terra Nova e Gronelândia em busca do pescado, que depois era apreciado em receitas tradicionais.</p>
      <p>3º- Viana do Castelo é considerada a capital do bacalhau em Portugal. A cidade é palco de diversos eventos gastronómicos dedicados ao peixe, como a Feira do Bacalhau.</p>
      <p>4º- Os Vinhos Verdes de Viana do Castelo também são motivo de orgulho para a região. Reconhecidos pela sua qualidade e frescor, estes vinhos são apreciados por todo o mundo.</p>
      <p>5º- A história dos Vinhos Verdes de Viana do Castelo está documentada no livro "Territórios Vinhateiros, Olivícolas e Corticeiros de Portugal", da Associação de Municípios Portugueses do Vinho.</p>

    </ion-card-content>
  </ion-card>
  
  <ion-card color="background">
    <ion-card-content>
    <ion-card-header>
      <p>Outras curiosidade:</p>
    </ion-card-header>
      <p>1ª- Nelson Freitas, jovem vianense de 28 anos foi eleito no S.Pellegrino Young Chef Academy o melhor jovem chefe do mundo com menos de 30 anos;  
      <p>2ª- O restaurante do Hotel de Santa Luzia, em Viana do Castelo, foi o primeiro em Portugal a ser galardoado com uma estrela Michelin, em 1929. Prémio que foi retirado em 1936.</p>
      <p>3ª- Atualmente há 3 restaurantes com estrela Michelin:</p>
      <p>-Tasquinha da Linda-Situado junto ao Castelo de Santiago da Barra;</p>
      <p>-Restaurante Camelo-Muito conhecido pelos seus pratos de lampreia;</p>
      <p>-Restaurante Louro-Ementa muito tradicional portuguesa</p>
    </ion-card-content>
  </ion-card>

  </ion-card>
</ion-content>
