<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title
      size="large" class="ion-text-center"> Receitas à Viana
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color = "background">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title
      size="large" class="ion-text-center"> Receitas à Viana
    </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-row class= "ion-align-items-center ion-justify-content-center">
      
        <img alt="rojoes" src = "./assets/images/rojoesMinho.jpg"> 
     
    </ion-row>
  </ion-card>


  <ion-card class="ion-padding" color = "titulos">
    <ion-card-header>
      <ion-card-title>Ingredientes</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>1- 1,3 kg de carne de porco;
      <p>2- 300g de tripa enfarinhada;
      <p>3- Sangue de porco;</p>
      <p>4- 500g de fígado;
      <p>5- 1kg de batatas;</p>
      <p>6- Banha ou óleo qp;</p>
      <br>
      <p>Marinada:</p>
      <p>1- Sal qp; </p>
      <p>2- 6 dentes de alho;</p>
      <p>3- Pimenta preta qb;
      <p>4- 3 Folhas de Loureiro;</p>
      <p>5- Cominhos e Colorau em pó;</p>
      <p>6- Vinho branco;</p>
    </ion-card-content>
  </ion-card>

  <ion-card class="ion-padding" color="titulos">
    <ion-card-header>
      <ion-card-title>Modo de Preparação</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>1º Prepare a marinada e coloque os rojões de um dia para o outro;
      <p>2º Num tacho com a banha/óleo colque os rojões após ter coado a marinada;
      <p>3º Deixar rijar levemente, acrescente vinho branco se necessário;
      <p>4º Entretanto num tacho coloque água, tempere com sal e 1 folha de loureiro e coza o sangue juntamente com o fígado.
      <p>5º Frite as batatas partidas aos cubos e de seguida frite a tripa enfarinhada partida às tirinhas.
      <p>6º Depois dos rojões prontos, retire o sangue e fígado, parta aos bocados e junte aos rojões, assim como as batatas fritas e a tripa enfarinhada;
      <p>7º Coloque por cima as azeitonas e polvilhe com salsa picada.</p>
      <p>8º Envolva tudo com cuidado para se misturarem os sabores. Sirva polvilhando com cominhos, enfeite com limão e salsa
    </ion-card-content>
  </ion-card>
</ion-content>
